mat-toolbar > div {
  display: flex;
  justify-content: space-around;
  align-content: center;
  width: 100%;
}

mat-toolbar > div > mat-slide-toggle {
  line-height: 48px;
}

.selection {
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
}

.selection > * {
  margin: 12px;
}
