/* You can add global styles to this file, and also import other style files */
@import url('mat-theme.scss');
// The "url()" is mostly for stackblitz ;)

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
