@import "~@angular/material/theming";
@import "material-calendar/calendar-theme.scss";
@include mat-core();

$mat-primary-palette: mat-palette($mat-indigo);
$mat-accent-palette: mat-palette($mat-light-green);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);

@include angular-material-theme($app-light-theme);
@include calendar-theme($app-light-theme);

// following section is for dark mode.
// use appropriate class name for darkMode
.darkMode {
  @include angular-material-theme($app-dark-theme);
  @include calendar-theme($app-dark-theme);
}
